<ion-view title="Auth" ng-controller="AuthCtrl">
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
      <a class="item item-stable" href="#" ng-click="logout()">Log out</a>
      
      <div ng-controller="LoginCtrl">
        <a class="item item-stable" href="#" ng-click="linkedinlogin()">Log in with LinkedIn</a>
        <a class="item item-stable" href="#" ng-click="githublogin()">Log in with GitHub</a>
      </div>
        LinkedIn: {{ LinkedInAuthenticated }}
        Github: {{ GitHubAuthenticated }}
      </div>
    </form>
  </ion-content>
</ion-view>